body {
    font-family: 'Iskra', sans-serif;
    background: linear-gradient(to right, #171717, #171717);
    margin: 99;
    padding: 0;
}

header {
    background-color: linear-gradient(to right, #171717, #171717);
    padding: 1px;
    text-align: center;
	color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-column {
    flex: 2;
}

.side-column {
    flex: 1; 
}

.rating-container {
    background: linear-gradient(to right, #444444, #444444);
    border: 5px solid #2c0228;
    border-radius: 5px;
    padding: 15px; 
    margin-top: 15px;
	color: white;
}

#player-rating {
    display: flex;
    flex-direction: column;
	color: white;
}

.player-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #2c0228;
	
}

.player-name {
    flex: 2;
	color: white;
}

.player-score {
    font-weight: bold;
}

.notification {
    background-color: linear-gradient(to right, #f5e1ba, #add8e6);
    border: 2px solid #0000cd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
	color: white;
}

.news-card {
    background-color: #add8e6;
    border: 1px solid #0000cd;
    border-radius: 5px;
    padding: 10px;   
    margin-bottom: 20px;
} 
.error-card {
    background-color: #ff0000;
    border: 3px solid #9a0909;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.boost-card {
    background: linear-gradient(to right, #bca01e, #fff690);
    border: 3px solid #7b5a10;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.buy-card {
    background: linear-gradient(to right, #540099, #000000);
	color: white;
    border: 3px solid #0000cd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
/* Стили для карточек товаров */
.leage-card,
.eve-card,
.product-card,
.special-offer {
    width: 300px;
    background: linear-gradient(to right, #fb34f4, #5cc4f5); /* Градиентный фон */
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Стили для изображений внутри карточек */
.leage-card img,
.product-card img,
.special-offer img {
    max-width: 30%; /* Устанавливаем максимальную ширину изображения в 100% от родительского контейнера */
    height: auto;    /* Автоматическое изменение высоты для сохранения пропорций */
}

.eve-card {
    background: linear-gradient(to right, #6b84ff, #00126b); /* Градиентный фон */
    color: white;
}
.leage-card {
    background: linear-gradient(to right, #444444, #444444); /* Градиентный фон */
    color: white;
	border: 3px solid #152A3D;
}



/* Стили для кнопок */
.buy-button {
    background-color: #b82fe0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Стили для специального предложения */


.special-offer {
    background: linear-gradient(to right, #540099, #000000); /* Градиентный фон */
    color: white;
}

/* Стили для таймера */
.timer {
    font-size: 18px;
    margin-top: 10px;
}


.go-to-page-button {
    background-color: #444444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.event-button {
    background: linear-gradient(to right, #6b84ff, #00126b);
    color: white;
    padding: 10px 20px;
    border: 2px linear-gradient(to right, #330000, #004d00);
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}
.leage-button {
    background: linear-gradient(to right, #125ebb, #74eaf5);
    color: white;
    padding: 10px 20px;
    border: 2px linear-gradient(to right, #330000, #004d00);
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

.N-button {
    background: linear-gradient(to right, #d8c793, #cab46e);
    color: white;
    padding: 5px 20px;
    border: 2px linear-gradient(to right, ##cab46e, ##cab46e);
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
	font: Iskra;
}

#progress-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#progress-bar-container {
  width: 300px;
  height: 20px;
  background-color: #818181;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  background: linear-gradient(to right, #125ebb, #74eaf5);
  width: 0;
  border-radius: 15px;
}

#info-text {
  text-align: center;
}






#topPlayers {
    background: linear-gradient(to right, #444444, #444444);
	color: white;
    border: 3px solid #0b4c82;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

#topPlayers h2 {
    color: white;
}

#topPlayers p {
    margin: 20px 0;
    font-size: 28px;
    color: #FFFF;
}


#club-container {
	background: linear-gradient(to right, #444444, #444444);
	border: 5px solid #8f7f61;
    border-radius: 6px;
    padding: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
	color: white;
}

#club-list {
    border: 2px solid #444444;
    padding: 10px;
	color: white;
}

.club {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #152A3D;
}

.club h1 {
    margin: 5px 0;
	
}

.club-level {
    font-weight: bold;
    color: #3498db;
}
.club-avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.golden-border {
    border: 3px solid gold;
}
.active-border {
    border: 3px solid blue;
}
.admin-border {
    border: 3px solid red;
}

.garland {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f00; /* Цвет фона гирлянды */
    color: #fff; /* Цвет текста гирлянды */
    text-align: center;
    padding: 10px;
    z-index: 1000;
}
.upgrade-button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #8b5e83; /* Лилово-фиолетовый цвет */
  color: #fff; /* Белый цвет текста */
}

.upgrade-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

/* Стили для контейнера с рейтингом */
.container {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}

/* Стили для игрока */
.player {
    margin-bottom: 10px;
}

.player-name {
    display: block;
    font-weight: bold;
}

.player-title {
    display: block;
    font-style: italic;
}

/* Дополнительные стили для информации о уровнях */
#levelsInfo {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
}