body {
    font-family: 'iskra', sans-serif;
    background-color: #000218;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
	overflow-x: hidden;
}

#eventRating {
    background-color: #2D384A;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    max-width: 650px;
    text-align: center;
    color: #FFFF;
}

.progress-bar {
    background-color: #eee;
    height: 20px;
    position: relative;
    margin-bottom: 10px;
	border-radius: 15px;
}

.progress-fill {
    height: 100%;
    background-color: #FF4C2B;
    transition: width 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    color: #FFFF;
}

th, td {
    border: 2px solid #000218;
    padding: 12px;
    text-align: left;
    color: #FFFF;
}

th {
    background-color: #000218;
}

#goal {
    margin-bottom: 20px;
    font-size: 18px;
}

#goalCount {
    font-weight: bold;
    color: #FF4C2B;
    transition: color 0.3s ease;
}

.goal-achieved {
    color: #FF4C2B;
}

#reward {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

#lastupd {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

#eventDescription {
    margin-top: 10px;
    text-align: left;
    max-height: 200px; /* Максимальная высота для скролла */
    overflow-y: auto; /* Включение вертикального скролла, если текст превышает максимальную высоту */
}

#eventDescription h3 {
    color: #FF4C2B;
    margin-bottom: 10px;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/фнзк.png') center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  visibility: visible; /* Изначальная видимость фона */
  transition: visibility 1s linear; /* Анимация скрытия фона */
}

.logo-container img {
  width: 100px; /* Задайте размер логотипа по вашему усмотрению */
}

.loading-text {
  margin-top: 20px;
  font-size: 18px;
}

.progress-bar-container2 {
  width: 50%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar2 {
  height: 20px;
  width: 0;
  background-color: #fff;
  transition: width 1s ease-in-out;
}